@font-face {
  font-family: 'AXIS-ExtraBold';
  src: url('AXIS-ExtraBold.woff2') format('woff2'),
       url('AXIS-ExtraBold.woff') format('woff'),
       url('AXIS-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

